html {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: url("../media/backgroud.png");
}

.forms {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 180px;
}

.formulario {
    width: 230px;
    height: 250px;
    display: grid;
    justify-content: center;
    background-color:  #7BD3DD ;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius:0.5rem ;
}
.formulario_registro{
    width: 230px;
    height: 350px;
    display: grid;
    justify-content: center;
    background-color: #7BD3DD;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 0.5rem;
}

input {
    border-radius: 0.5rem;
    background-color: #7BD3DD;
    width: 201px;
    height: 37px;
}
button{
    border-radius: 0.5rem;
    background-color: #008EEA;
    width: 201;
    height: 37px;
}
.links{
    padding-left: 1000px;
}
.navBar{
    display: ruby;
}
.title_nav{
    padding-left: 50px;
    font-size: xx-large;
}
a{
    color: black;
    padding-left: 20px ;
}